* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;

}
body {
  height: 100vh;
  width: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  border: 1px solid black;
  width: 95%;
  display: flex;
  height: 95vh;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
}


.left {
  width: 60%;
  height: 100%;
  border-radius: 0px 0px 0px 20px;
  background-color: #fcc80d;
  padding: 80px;
} 

.pika {
  position: absolute;
  width: 600px;
  height: 86%;
  right:14%;
  top: 10%;
}
.logo{
    position: absolute;
    width: 150px;
    /* height: 100px; */
    top: 20px;
    left: 90px;
}
.right {
  width: 40%;
  height: 100%;
  background-color: #fae7b4;
} 

.left  h4 {
  font-size: 20px;
  margin-top: 100px;
  letter-spacing: 8px;
  /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
}

.left h1 {
  font-size: 120px;
  font-weight: 900;
}
h1:hover{
    color: #677d6b;
    cursor: pointer;
}
.left p {
    width: 50%;
    font-size: 17px;
    line-height: 30px;
}

.time{
    margin-top: 20px;
    margin-left: 100px;
}

.poki{
 
      position: absolute;
    width: 190px;
    /* height: 100px; */
    bottom: -80px;
    left: 50px;
}




.fa-solid {
    position: absolute;
    font-size: 30px;
    top: 20px;
    right: 30px;
}

.fa-solid:hover{
    color: #677d6b;
    cursor: pointer;
}